html {
  font-size: 62.5%;
  box-sizing:border-box;
}

*, *::before, *::after{
  margin:0;
  padding:0;
  box-sizing: inherit;
}
.calculator {
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50% -50%);
  width: 400px;
}

.calculator-screen{
  width: 100%;
  font-size: 5rem;
  height: 70px;
  border: none;
  background-color: #252525;
  color: #fff;
  text-align: center;
  padding-right: 20px;
  padding-left: 10px;
}

button {
  height: 60px;
  border-radius: 3px;
  border: 1px solid #c4c4c4;
  background-color: transparent;
  font-size: 2rem;
  color: #333;
  background-image: linear-gradient(to bottom,transparent,transparent 50%,rgba(0,0,0,.04));
 box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
 text-shadow: 0 1px rgba(255,255,255,.4);
}

button:hover{
  background-color: #eaeaea;
}

.operator{
  color:#337cac;
}
  .all-clear {
    background-color: #f0595f;
    border-color: #b0353a;
    color: #fff;
  }

.equal-sign{
  background-color: #2e86c0;
  border-color: #337cac;
  color: #fff;
  height: 100%;
  grid-row-start: 2;
  grid-row-end: 6;
  grid-column-start: 4;
  grid-column-end: 5;
}

.equal-sign:hover {
  background-color: #4e9ed4;
}

.calculator-keys {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  padding: 25px;

}
