*{box-sizing: border-box}

       .container{width: 300px;
                  overflow: hidden;
                  margin: 50px auto 0 auto;
                  user-select: none;
                }

       .container span{width: 100%;
                        height: 100px;
                       display: block;
                       text-align: center;
                       font-family: sans-serif bold;
                       color: #fff;
                       font-size: 40px;
                       background: #446CB3;
                       padding-top: 40px;
                      }

       .container .box{float: left;
                       width: 100px;
                       height: 100px;
                       border: 1px solid #000;
                       transition: all .25s ease-in-out;
                       font-family: sans-serif;
                       font-size: 85px;
                       text-align: center;
                       line-height: 100px;
                       cursor: pointer;
                     }

       .container .box:hover{background: rgba(10,10,10,0.5);
                             color: #fff
                            }

       button{background: #26C281;
              color: #fff;
              font-weight: bold;
              border: 1px solid yellow;
               cursor: pointer;
               width: 200px;
               height: 40px;
               font-size: 22px;
               display: block;
               margin: 10px auto}

       .win{background: #F9690E; color: #fff}
