.navbar>.container,
/* come back here*/
  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/*
.hero-wrap .slider-text h1 {
    font-family: "Roboto Condensed", Arial, sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 120px;
    text-transform: uppercase; }
    @media (max-width: 991.98px) {
      .hero-wrap .slider-text h1 {
        font-size: 50px; } }
  .hero-wrap .slider-text h2 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: "Roboto Condensed", Arial, sans-serif;
    color: #fff; }
    .hero-wrap .slider-text h2 span {
      position: relative; }
      .hero-wrap .slider-text h2 span:before, .hero-wrap .slider-text h2 span:after {
        position: absolute;
        top: 50%;
        content: '';
        width: 30px;
        height: 1px;
        background: #fff; }
      .hero-wrap .slider-text h2 span:before {
        left: -45px; }
      .hero-wrap .slider-text h2 span:after {
        right: -45px; }
  .hero-wrap .slider-text .breadcrumbs {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 0;
    z-index: 99; }
    .hero-wrap .slider-text .breadcrumbs span {
      color: rgba(0, 0, 0, 0.7); }
      .hero-wrap .slider-text .breadcrumbs span a {
        color: #000000; }
        */
.background {
  margin-top: 40px;
  width: 100%;
  position: relative;
  padding: 7em 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.breadcrumps span {
  color: rgba(0, 0, 0, 0.7);
}

.breadcrumps span a {
  color: #000000;
}

.background .breadcrumps  {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  margin-bottom: 0;
  margin-left: 24rem;
  z-index: 99;
  /* must investigate on this, co[ied from net, what is this */
}

.bread {
  text-transform: uppercase;
  margin-left: 24rem;
}

.img {
  margin-top: 0;
  width: 100%;
  position: relative;
  padding: 5em 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  height: 500px;
}

.ftco-counter {
  padding: 7em 0;
}

.ftco-counter .text span {
  display: block;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
}

.ftco-counter .text strong.number {
  font-weight: 400;
  font-size: 30px;
  color: #000000;
}

.ftco-counter .text span {
  display: block;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
}

#section-counter {
  position: relative;
  z-index: 0;
}

#section-counter: after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: '';
  z-index: -1 opacity: 0;
  background: #f1b8c4;
}

.ftco-section-parallax {
  position: relative;
}

.ftco-section-parallax .parallax-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  padding: 7em 0;
  background: #fff;
}

.ftco-section-parallax .heading-section-white h2 {
  font-weight: 400 !important;
}


.big {
  text-transform: uppercase;
  padding-top: 12px;
  font-family: "Lato", Arial, sans-serif bold;
  position: absolute;
  top: none;
  left: -9.95rem;
  right: 0;
  font-size: 150px;
  color: rgba(0, 120, 10, 1.4);
  font-weight: 90;
  letter-spacing: 2rem;
}

.form-control {
  margin-top: 35px;
}

.submit {
  margin-top: 35px;
  }



.col-md-3, .col-md-7, .col-md-8, .col-md-9, .col-md-10 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.subscribe-form .icon {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.8); }

/* here footer starts*/
.ftco-footer {
  font-size: 16px;
  padding: 7em 0;
  color: #000000; }
  .ftco-footer .ftco-footer-logo {
    text-transform: uppercase;
    letter-spacing: .1em; }
  .ftco-footer .ftco-footer-widget h2 {
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px; }
  .ftco-footer .ftco-footer-widget ul li {
    font-size: 14px;
    margin-bottom: 24px; }
    .ftco-footer .ftco-footer-widget ul li a {
      color: #000000; }
  .ftco-footer .ftco-footer-widget .btn-primary {
    border: 2px solid #fff !important; }
    .ftco-footer .ftco-footer-widget .btn-primary:hover {
      border: 2px solid #fff !important; }

.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block; }
  .ftco-footer-social li a {
    height: 50px;
    width: 50px;
    display: block;
    float: left;
    background: rgba(0, 0, 0, 0.02);
    border-radius: 50%;
    position: relative; }
    .ftco-footer-social li a span {
      position: absolute;
      font-size: 26px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      color: #000000; }
    .ftco-footer-social li a:hover {
      color: #000000; }

    ul {
      list-style-type: none;
    }
