body, html {
  height: 100%;
  margin: 0;
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.banner {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  opacity: 0.56;
  /* here we divide banner in 2 parts and color 1st part */
  width: 50%;
  /* the value of banner that must be colored*/
  background: #f1b8c4;
  /* color rose */
}

.banner .slider-text h3.v {
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  /* writes h2 on vertical position */
  writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  text-orientation: sideways;
  /* orients text on sidewas */
  text-align: center;
  text-orientation: sideways;
  margin: 0rem;
  position: fixed;
  top: 0;
  left: 20px;
  height: 100%;
  font-family: "Roboto Condensed", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 18px;
  /* vertical text font size */
  z-index: 1;
}

.banner .slider-text h3.vr {
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  text-orientation: sideways;
  text-align: center;
  text-orientation: sideways;
  margin: 0rem;
  position: fixed;
  top: 0;
  right: 20px;
  height: 100%;
  font-family: "Roboto Condensed", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 18px;
  z-index: 1;
}

@media (max-width: 991.98px) {
  .banner .slider-text .v, .banner .slider-text .vr {
    display: none;
  }
}

.banner .slider-text h1 {
  font-family: "Roboto Condensed", Arial, sans-serif;
  color: blue;
  /* welcome text color */
  font-weight: 700;
  font-size: 120px;
  /* welcome text font size */
  text-transform: uppercase;
  margin-top: 20rem;
  ;
}

@media (max-width: 991.98px) {
  .banner .slider-text h1 {
    font-size: 150px;
  }
}

.banner .slider-text h2 {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: "Roboto Condensed", Arial, sans-serif;
  color: black;
  /* choose your own style text color */
}

.banner .slider-text h2 span {
  position: relative;
}

.banner .slider-text h2 span:before, .banner .slider-text h2 span:after {
  position: absolute;
  top: 50%;
  content: '';
  width: 30px;
  height: 1px;
  background: black;
  /* choose your own style lines color */
}

.banner .slider-text h2 span:before {
  /* choose your own style lines position, before text */
  left: -45px;
}

/* here  ends css for navbar and banner */
#myVideo {
  position: relative;
  margin: 0;
  height: 100%;
}

.video-description {
  font-size: 16px;
  padding-left: 10rem;
}

.container1 {
  background-color: black;
}

/* OUR products part */
.h3 {
  text-align: center;
}

.product-grid {
  margin-top: 2rem;
  font-family: Raleway, sans-serif;
  text-align: center;
  padding: 0 0 72px;
  border: 1px solid rgba(0, 0, 0, .1);
  overflow: hidden;
  position: relative;
  z-index: 1
}

.product-grid .product-image {
  position: relative;
  transition: all .3s ease 0s
}

.product-grid .product-image a {
  display: block
}

.product-grid .product-image img {
  width: 100%;
  height: auto
}

.product-grid .pic-1 {
  opacity: 1;
  transition: all .3s ease-out 0s
}

.product-grid:hover .pic-1 {
  opacity: 1
}

.product-grid .pic-2 {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .3s ease-out 0s
}

.product-grid:hover .pic-2 {
  opacity: 1
}

.product-grid .social {
  width: 150px;
  padding: 0;
  margin: 0;
  list-style: none;
  opacity: 0;
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  top: 60%;
  left: 50%;
  z-index: 1;
  transition: all .3s ease 0s
}

.product-grid:hover .social {
  opacity: 1;
  top: 50%
}

.product-grid .social li {
  display: inline-block
}

.product-grid .social li a {
  color: #fff;
  background-color: #333;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  height: 40px;
  width: 40px;
  margin: 0 2px;
  display: block;
  position: relative;
  transition: all .3s ease-in-out
}

.product-grid .social li a:hover {
  color: #fff;
  background-color: #ef5777
}

.product-grid .social li a:after, .product-grid .social li a:before {
  content: attr(data-tip);
  color: #fff;
  background-color: #000;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 20px;
  padding: 1px 5px;
  white-space: nowrap;
  opacity: 0;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: -30px
}

.product-grid .social li a:after {
  content: '';
  height: 15px;
  width: 15px;
  border-radius: 0;
  transform: translateX(-50%) rotate(45deg);
  top: -20px;
  z-index: -1
}

.product-grid .social li a:hover:after, .product-grid .social li a:hover:before {
  opacity: 1
}

.product-grid .product-discount-label, .product-grid .product-new-label {
  color: #fff;
  background-color: #ef5777;
  font-size: 12px;
  text-transform: uppercase;
  padding: 2px 7px;
  display: block;
  position: absolute;
  top: 10px;
  left: 0
}

.product-grid .product-discount-label {
  background-color: #333;
  left: auto;
  right: 0
}

.product-grid .rating {
  color: #FFD200;
  font-size: 12px;
  padding: 12px 0 0;
  margin: 0;
  list-style: none;
  position: relative;
  z-index: -1
}

.product-grid .rating li.disable {
  color: rgba(0, 0, 0, .2)
}

.product-grid .product-content {
  background-color: #fff;
  text-align: center;
  padding: 12px 0;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -27px;
  z-index: 1;
  transition: all .3s
}

.product-grid:hover .product-content {
  bottom: 0
}

.product-grid .title {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: capitalize;
  margin: 0 0 10px;
  transition: all .3s ease 0s
}

.product-grid .title a {
  color: #828282
}

.product-grid .title a:hover, .product-grid:hover .title a {
  color: #ef5777
}

.product-grid .price {
  color: #333;
  font-size: 17px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  letter-spacing: .6px;
  margin-bottom: 8px;
  text-align: center;
  transition: all .3s
}

.product-grid .price span {
  color: #999;
  font-size: 13px;
  font-weight: 400;
  text-decoration: line-through;
  margin-left: 3px;
  display: inline-block
}

.product-grid .add-to-cart {
  color: #000;
  font-size: 13px;
  font-weight: 600
}

@media only screen and (max-width:990px) {
  .product-grid {
    margin-bottom: 30px
  }
}

.ftco-footer {
  font-size: 16px;
  padding: 7em 0;
  color: #000000;
}

.ftco-footer .ftco-footer-logo {
  text-transform: uppercase;
  letter-spacing: .1em;
}

.ftco-footer .ftco-footer-widget h2 {
  font-weight: normal;
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.ftco-footer .ftco-footer-widget ul li {
  font-size: 14px;
  margin-bottom: 24px;
}

.ftco-footer .ftco-footer-widget ul li a {
  color: #000000;
}

.ftco-footer .ftco-footer-widget .btn-primary {
  border: 2px solid #fff !important;
}

.ftco-footer .ftco-footer-widget .btn-primary:hover {
  border: 2px solid #fff !important;
}

.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block;
}

.ftco-footer-social li a {
  height: 50px;
  width: 50px;
  display: block;
  float: left;
  background: rgba(0, 0, 0, 0.02);
  border-radius: 50%;
  position: relative;
}

.ftco-footer-social li a span {
  position: absolute;
  font-size: 26px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #000000;
}

.ftco-footer-social li a:hover {
  color: #000000;
}
